body{
  background-color:white;
  text-align:center;
  border:1px solid black;
  width:600px;
}

.header{
  padding-bottom:30px;
  height:60px;
  font-size:50px;
  background-color:aqua;
  display:flex;
  justify-content:center;
}

.main{
  padding-top:30px;
  display:flex;
  justify-content:center;
}

.inputField{
  opacity:0.8;
}

.button{
  color:black;
  text-decoration-color:white;
  height:22px;
  width:80px;
}

.list{
  display:flex;
  justify-content:center;
}