body{
  background-color:white;
  text-align:center;
}

.header{
  padding-bottom:30px;
  height:60px;
  font-size:50px;
  background-color:aqua;
}

.main{
  padding-top:30px;
}

.button{
  color:black;
  text-decoration-color:white;
  height:20px;
  width:100px;
}